apps/frontend/* deniska_belodedov@mail.ru
apps/backend/* @akarmanov2022
apps/trackme-gateway/* @akarmanov2022
platform/* @akarmanov2022
services/* @akarmanov2022
libs/* @akarmanov2022
database/* @akarmanov2022
.github/* @akarmanov2022