database/* @akarmanov2022
.github/* @akarmanov2022
**/*.java @akarmanov2022
**/database/** @akarmanov2022
**/*.sql @akarmanov2022
**/*.gradle @akarmanov2022
**/Dockerfile @akarmanov2022
**/*.js deniska_belodedov@mail.ru
**/*.ts deniska_belodedov@mail.ru
**/*.tsx deniska_belodedov@mail.ru
**/*.jsx deniska_belodedov@mail.ru
**/*.css deniska_belodedov@mail.ru