.profile-container {
  width: 1359px;
  height: 882px;
  background-color: #8b50f9; /* Фон, похожий на фиолетовый из макета */
  border: 5px solid #44069A;
  border-radius: 70px;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header h1 {
  width: 839px;
  height: 117px;
  padding-top: 66px;
  padding-left: 92px;
  font-weight: 400;
  font-size: 96px;
  margin: 0;
}

.edit-button12 {
  background: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  margin-right: 91px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.profile-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.profile-fields {
  display: flex;
  padding-left: 92px;
  flex-direction: column;
  gap: 15px;
  width: 60%;
}


.profile-label {
  display: block;
  padding-left: 36px;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container {
  position: relative; /* для абсолютного позиционирования иконки */
}

.profile-input {
  width: 560px;
  height: 72px;
  font-size: 16px;
  background-color: #E6D7FB;
  color: #000;
  padding-left: 24px;
  padding-right: 50px; /* чтобы был зазор для иконки справа */
  border-radius: 70px;
  border: none;
  outline: none;
}

.profile-input:focus {
  outline: none;
  border: none;
}

.edit-icon123 {
  position: absolute;
  right: -140px;       /* смещение от правого края */
  top: 50%;          /* вертикальный центр */
  transform: translateY(-50%);
  pointer-events: none; /* чтобы клик шел по инпуту, а не по иконке */
  width: 24px;       /* подберите нужный размер */
  height: 24px;      /* подберите нужный размер */
}

.profile-avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-right: 92px;
  width: 440px;
  gap: 25px;
}

.avatar-placeholder {
  width: 440px;
  height: 440px;
  background-color: #c5aaf9;
  border-radius: 70px;
}

.profile-role-text {
  font-size: 24px;
  font-weight: 600;
  background-color: #ffffff;
  color: #8338EB;
  padding: 0 80px; /* Отступы по бокам для динамической ширины */
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  white-space: nowrap; /* Чтобы текст не переносился */
}

.profile-team-cards-button {
  margin-top: -25px;
  width: 454px;
  height: 70px;
  background-color: #ffffff;
  color: #8338EB;
  border: none;
  align-self: flex-start;
  margin-left: 145px;
  font-weight: 700;
  font-size: 24px;
  border-radius: 70px;
  cursor: pointer;
}
