.profile-container {
  width: 1359px;
  height: 882px;
  margin-top: 90px;
  margin-left: 281px;
  background-color: #8b50f9; /* Фон, похожий на фиолетовый из макета */
  border: 5px solid #44069A;
  border-radius: 70px;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  
  
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header h1 {
  width: 839px;
  height: 117px;
  padding-top: 66px;
  padding-left: 92px;
  font-weight: 400;
  font-size: 96px;
  margin: 0;
}

.edit-button12 {
  background-color: #ffffff;
  color: #8b50f9;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.profile-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.profile-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
}

.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.field input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.profile-avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 15px;
}

.avatar-placeholder {
  width: 150px;
  height: 150px;
  background-color: #c5aaf9; /* Светлее, чтобы выделить */
  border-radius: 50%;
  margin-bottom: 10px;
}

.role-text {
  font-size: 18px;
  font-weight: bold;
}

.team-cards-button {
  margin-top: 20px;
  background-color: #ffffff;
  color: #8b50f9;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
