.registration-container {
  width: 1312px;
  height: 912px;
  margin: 78px auto 0 auto;
  padding: 40px;
  background: #8338EB;
  color: white;
  border-radius: 70px;
  border: 3px solid #44069A;
  text-align: center;
  display: flex;
  position: relative;
}

/* Заголовок формы */
.registration-title {
  font-size: 96px;
  width: 100%;
  margin-bottom: 10px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

/* Контейнер формы */
.registration-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

/* Группа полей ввода */
.input-group {
  position: absolute;
  width: 470px;
}

.role-select select {
  width: 276px;
  height: 46px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  background: #F5EFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Метки (подписи) к полям ввода */
.input-group label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  display: block;
  text-align: left;
}

/* Поля ввода */
.input-field {
  width: 470px;
  height: 60px;
  border-radius: 70px;
  border: none;
  outline: none;
  background: #F5EFFF;
  font-size: 16px;
  padding-left: 15px;
}

/* Позиционирование полей */
.fio-input { top: 125px; left: 104px; }
.email-input { top: 250px; left: 104px; }
.telephone-input { top: 375px; left: 104px; }
.telegram-input { top: 500px; left: 104px; }
.password-input { top: 625px; left: 104px; }
.confirm-password-input { top: 750px; left: 104px; }
.role-select { top: 540px; left: 804px; width: 490px; height: 80px; }

/* Контейнер для аватара */
.avatar-container {
  position: absolute;
  top: 200px;
  right: 200px;
  width: 338px;
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Блок для аватара */
.avatar-box {
  width: 338px;
  height: 338px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("no-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  left: 750px;
}

.avatar-box img {
  width: 100%;
  height: 100%;
  border-radius: 70px;
  object-fit: cover;
}

/* Иконка загрузки аватара */
.upload-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Кнопка регистрации */
.register-button {
  width: 470px;
  padding: 20px 40px;
  background-color: white;
  border: none;
  border-radius: 70px;
  color: #8338EB;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 75px;
  right: -625px;
}

.register-button:hover {
  background-color: #f3e5ff;
}
